*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

html{
   font-size: 12px;
}

.d-flex{
   display: flex;
}

.wrap{
   flex-wrap: wrap;
}

.column{
   flex-direction: column;
}

.between{
   justify-content: space-between;
}

.hidden{
   overflow-y: hidden;
}

.f-bianco{
   color: white;
}

.f-gscuro{
   color: #7D7F84;
}

ul{
   list-style: none;
}

a{
   text-decoration: none;
}

img{
   width: 100%;
}

.rounded{
   object-fit: cover;
   border-radius: 50%;
}

/* ----- DEBUG ----- */






/* ----- ASIDE ----- */
aside{
   background-color: #000000;
   padding: 1rem;
   min-height: 40rem;
}

aside span{
   display: inline-block;
}

#aside-top{
   height: calc(100% - 6rem);
}

#logo{
   width: 70%;
   padding-bottom: 2rem;
}

#menu-ab div{
   height: 2rem;
   width: 100%;
   margin-bottom: 1rem;
}

.menu-icon{
   height: 100%;
   width: auto;
   vertical-align: middle;
}

#menu-ab span{
   display: inline-block;
   vertical-align: middle;
}

/* ----- PLAYLIST ----- */

#playlist h4{
   padding: 1rem 0;
}

#playlist ul{
   max-height: 200px;
   overflow-y: scroll;
}

#plus{
   height: 2.5rem;
   width: 2.5rem;
   font-size: 2rem;
   font-weight: bold;
   text-align: center;
   color: black;
   background-color: #A3A3A3;
   display: inline-block;
}

#playlist li{
   padding: 0.5rem 0;
}

#aside-bottom{
 
}

#aside-bottom div{
   height: 2rem;
}

.download{
   height: 50%;
}

#aside-bottom .rounded{
   background-color: #808080;
   height: 2rem;
   width: 2rem;
}

/* ----- ASIDE-SMALL ----- */

#aside-small{
   width: 4rem;
}





/* ----- MAIN ----- */

main{
   background-color: #141922;
   height: calc(100vh - 8rem);
}

.cta{
   background-color: rgba(0, 0, 0, 0.6);
   height: 6rem;
   width: calc(100% - 4rem);
   position: fixed;
   top: 0;
   right: 0;
}

.button{
   position: absolute;
   border-radius: 60px;
   padding: 1rem 3rem;
   border: solid 1px white;
   right: 1rem;
   top: 1rem;
 }

.content{
   margin-top: 6rem;
   overflow-y: scroll;
}

.nav-main{
   margin: 1rem;
   justify-content: center;
}

.nav-main li{
   display: inline-block;
   padding: 1rem;
}

/* ----- SECTION ----- */

section{
   margin: 2rem 1rem;
}

section .album{
   width: calc(100% / 2 - 0.5rem);  
   text-align: center;
}

section h2{
   margin: 1rem 0;
}

.album span{
   display: inline-block;
}

.songs{
   gap: 0.5rem;
}

.album h3{
   padding: 1rem;
}

section p{
   margin-bottom: 2rem;
}




/* ----- FOOTER ----- */

footer{
   background-color: #282828;
   height: 8rem;
}


footer div {
   color: orange;
   height: 100%;
   width: 150px;
   border: dashed 2px white;
   padding: 0.5rem;
 }



#footer-left image{
   width: 30%;
}






/* ----- SCHERMI S ----- */
@media screen and (min-width: 768px){
     
  
   aside{
      width: 16rem;
   }
   
   .content, .cta{
      width: calc(100% - 16rem);
   }

   



}

/* ----- SCHERMI MD ----- */
@media screen and (min-width: 992px){

   section .album{
      width: calc(100% / 4 - 0.5rem);  
   }

}

/* ----- SCHERMI LG ----- */
@media screen and (min-width: 1200px){

   section .album{
      width: calc(100% / 6 - 0.5rem);  
   }


}